/* 3.23.19 */
@import "https://use.fontawesome.com/releases/v5.7.0/css/all.css";
/* ******* */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana;
}



body {
    flex-direction: column;
    background: #161718;
    width: 35%;
    margin: auto;
}

.memory-game {
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px; 
    padding-left: 30px;
}

.memory-card {
    width: 100px;
    height: 100px;
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face, .back-face {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    background-color: #EE6737;
    border-radius: 5px;
    backface-visibility: hidden;
}

.front-face {
    background-color: darkgray;
    transform: rotateY(180deg);
}

.start {
    margin: auto;
    padding: 20px;
    width: 200px;
    color: white;
    font-size: 15px;
    background-color: #161718;
    border: 2px solid #EE6737;
  }
  
  .startbg {
    padding-top: 20px;
    display: flex;
    margin: auto;
  }
  
  #time {
    color: white;
    text-align: center;
    margin: 10px auto;
  }

.invisible {
    visibility: hidden;
}


/* 3.23.19 */

#box {
    /* width: 500px; */
    overflow: hidden;
    /* background: #f1f1f1; */
    box-shadow: 0 0 20px black;
    border-radius: 8px;
    position: absolute;
    animation: myAnimation .5s infinite;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 10px;
    padding-bottom: 40px;
    text-align: center;  
    
    /* font-weight:bold; */
    animation: myAnimation .5s infinite;

    /***************** DISPLAY GOOD JOB *****************/

    display: none;
    /* transition  */
}

#box span {
    color:black;
    font-size: 20px;
    display: block;
    padding-bottom: 0px;
    padding: 5px;
    /* border: 1px solid; */
}

.fa-check {
    color: #2ecc71;
    font-size: 90px;
    display: block;
    padding-bottom: 0px;
    /* border: 1px solid; */ 
}

#box h1 {
    padding: 30px;
    /* padding-top: 10px; */
    color: black;
    font-size: 10px;    
    /* font-family: 'Fredericka the Great', cursive;     */
    font-family: "waltograph";
    font-size: 130px;
    /* border: 1px solid; */
}

.playagain {
    font-family: "waltograph";
    font-size: 30px;
    color: black;
    padding: 14px 30px 10px 30px;
    cursor: pointer;
    background: #3498db;
    display: inline-block;
    border-radius: 10px;

}

@-webkit-keyframes myAnimation {
  0% {background-color: red;}
  25%{background-color:yellow;}
  50%{background-color:green;}
  75%{background-color:brown;}
  100% {background-color: red;}
}

@font-face {
    font-family: "waltograph";
    src: url(waltograph42.otf);
  }  
/* ******* */

h1 {
    color: white;
    font-size: 30px;
    font-family: Verdana;
    text-align: center;
    padding: 10px;
}

  
@media only screen and (max-width: 900px) {
    body {
        flex-direction: column;
        background: #161718;
        width: 100%;
        margin: auto;
    }
  }